@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

body {
  background: #eeeeee;
  font-family: "Roboto", sans-serif;
}

.card {
  width: 450px;
  height: 85vh;
  border: none;
  border-radius: 15px;
  overflow-y: scroll;
}

.adiv {
  background: #04cb28;
  border-radius: 15px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 12px;
  height: 46px;
}

.chat {
  border: none;
  background: #e2ffe8;
  font-size: 12px;
  border-radius: 20px;
}

.bg-white {
  border: 1px solid #e7e7e9;
  font-size: 12px;
  border-radius: 20px;
}

.myvideo img {
  border-radius: 20px;
}

.dot {
  font-weight: bold;
}

.form-control {
  border-radius: 12px;
  border: 1px solid #f0f0f0;
  font-size: 10px;
}

.form-control:focus {
  box-shadow: none;
  font-size: 12px;
}

.form-control::placeholder {
  font-size: 12px;
  color: #c4c4c4;
}

.send-message {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  background-color: #04cb28;
}

.send-message i {
  color: #e2ffe8;
}

.hide {
  display: none;
}

.btn-login {
  width: 100%;
  height: 35px;
  background-color: #04cb28;
  font-size: 12px;
  border-radius: 30px;
}

.form-login {
  height: 40px;
}

.container-login {
  width: 60%;
}

.img-logo {
  display: flex;
  align-items: center;
  align-self: center;
}

.alert-invalid {
  font-size: 12px;
}

.hidden {
  display: none;
}

.logout-button {
  cursor: pointer;
  font-size: 15px;
}

.logout-container {
  padding: 20px;
  background-color: #e2ffe8;
  width: 85%;
  position: absolute;
  border: #04cb28;
  border-radius: 20px;
  right: 10px;
  top: 0;
}

.logout-container button {
  border: none;
  margin-left: 10px;
  width: 60px;
  cursor: pointer;
  border-radius: 10px;
  color: #e2ffe8;
  background-color: #04cb28;
}

.idle-container {
  background-color: #fff;
  position: absolute;
  height: 150px;
  top: 50px;
  border-radius: 30px;
  padding: 40px 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #04cb28;
  text-align: center;
}

.idle-container span {
  font-size: 14px;
  display: block;
  text-align: center;
}

.idle-container button {
  border-radius: 10px;
  background-color: #04cb28;
  color: #e2ffe8;
  width: 60px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.ya {
  margin-right: 5px;
}

.tidak {
  margin-left: 5px;
}
